.primary-bg{
    background-color: #4D00B2;
    color: white;
}

.small-text{
    font-size: 0.7rem;;
}
.light-bg{
    background-color:aliceblue;
}

.light-gray-bg{
    background-color:rgb(204, 204, 204)
}

.text-card {
  transition: transform 0.3s;
  cursor: pointer;
}

.text-card:hover {
  transform: scale(1.05);
}